// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// 日本語 (日本) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_JPN)
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#pragma code_page(932)

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
BDPEX_ICON_DEFAULT      ICON    ".\\BonDriverProxyEx.ico"
BDPEX_ICON_GREEN        ICON    ".\\BonDriverProxyEx_green.ico"
BDPEX_ICON_YELLO        ICON    ".\\BonDriverProxyEx_yello.ico"
BDPEX_ICON_ORANGE       ICON    ".\\BonDriverProxyEx_orange.ico"
BDPEX_ICON_BLUE         ICON    ".\\BonDriverProxyEx_blue.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2023,12,2,0
 PRODUCTVERSION 1,1,6,7
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104b0"
        BEGIN
            VALUE "FileDescription", "BonDriverProxyEx Host Process"
            VALUE "FileVersion", "2023.12.2.0"
            VALUE "InternalName", "BonDriverProxyEx"
            VALUE "LegalCopyright", "2014 unknown"
            VALUE "OriginalFilename", "BonDriverProxyEx.exe"
            VALUE "ProductName", "BonDriverProxyEx Host"
            VALUE "ProductVersion", "1.1.6.7"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x411, 1200
    END
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // 日本語 (日本) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

